{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Notes App{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {%block style%} {%endblock%}
</head>
<body>

    <!-- Navbar -->
    <nav>
        <a href="{% url 'notes:login' %}">Login</a>
        <a href="{% url 'notes:register' %}">Register</a>
        <a href="{% url 'notes:about' %}">About</a>
    </nav>

    <!-- Main Content -->
    <main>
        <div class="content-box">
            {% block content %} {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer>
        &copy; 2025 My Website | Designed with ❤️ | <a href="#">Contact</a>
    </footer>

</body>
</html>
